.page__wrap {
  display: flex;
  justify-content: space-between;
}

.section__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: max-content;
  max-width: 45vw;
}

.section__item {
  border: 1px solid greenyellow;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.25rem 0;
}

.section__item:has(.section__last) {
  animation: shake-rotate 1s linear;
  animation-iteration-count: 3;
}

.section__last {
  margin: 0.2rem;
  text-align: end;
  color: var(--error);
}

@keyframes shake-rotate {
  0% {
    border: 1px solid var(--error);
  }
  15% {
    transform: rotate(4deg);
  }
  30% {
    transform: rotate(-4deg);
  }
  40% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  65% {
    transform: rotate(1deg);
  }
  85% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
    border: 1px solid greenyellow;
  }
}
