#root {
  margin: 0 auto;
  padding: 0;
}

.main-wrap {
  display: flex;
  margin-bottom: 75px;
}

.left-section {
  padding: 2rem;
  min-height: calc(100vh - 2rem);
  flex-grow: 1;
}

.section {
  margin: 2rem 0 0;
}
.list__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-error {
  background-color: red;
}

.card {
  padding: 2em;
}
