.list__card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow:
    3px 3px 10px#777,
    -3px -3px 10px #777;
  box-shadow:
    3px 3px 10px#777,
    -3px -3px 10px #777;
  transition: all 0.3s linear;
  border-radius: 10px;
  overflow: auto;
}

.card__title {
  margin-top: 0;
  text-align: center;
}
.list__card:hover {
  box-shadow:
    3px 3px 10px red,
    -3px -3px 10px red;
}
