.list__card {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow:
    3px 3px 10px#777,
    -3px -3px 10px #777;
  box-shadow:
    3px 3px 10px#777,
    -3px -3px 10px #777;
  transition: all 0.3s linear;
  border-radius: 10px;
}
.card__wrap {
  padding: 1rem;
  min-width: 235px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__title {
  margin: 0 0 0.5rem;
  text-align: center;
}

.list__card:hover {
  cursor: pointer;
  box-shadow:
    3px 3px 10px red,
    -3px -3px 10px red;
}

.card__label {
  padding: 0.2rem;
  border-radius: 0.3rem;
  background-color: rgba(255, 0, 0, 0.15);
  cursor: copy;
  align-items: center;
}
.card__label:has(.card__input:checked) {
  background-color: rgba(0, 255, 0, 0.15);
  cursor: no-drop;
}
.card__input {
  cursor: copy;
}
.card__input:checked {
  cursor: no-drop;
}
