:root {
  --max-width: 1280px;
  --trans: 0.3s linear;
  --accent-color: #cc8e1e;
  --main-color: #2b3f5b;
  --bg-color: #f6f5f2;
  --bg-card: #fff;
  --bg-btn: rgba(204, 142, 30, 0.1);
  --bg-carosel-btn: #f1efe9;
  --second-color: #000;
  --bg-head: #faf4e8;
}

:root:has(.switcher__input:checked) {
  --bg-color: #2b3f5b;
  --main-color: #f6f5f2;
  --bg-card: #000;
  --second-color: #fff;
  --bg-head: #111;
  --bg-carosel-btn: #222;
}

input[type='checkbox'] {
  display: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  /* width: 100vw; */
  min-height: 2rem;
  display: flex;
  /* justify-content: right; */
  align-items: center;
}

.switcher {
  position: relative;
}

.switcher__bg {
  position: absolute;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: var(--accent-color);
  transition: transform var(--trans);
  z-index: -5;
}

.switcher__input:checked ~ .switcher__bg {
  transform: translateX(100%);
}

.switcher__icon {
  width: 24px;
  height: 24px;
  color: #d3cfc3;
}

.switcher__icon-sun {
  color: white;
}

.switcher__input:checked ~ .switcher__icon-moon {
  color: white;
}

.switcher__input:checked ~ .switcher__icon-sun {
  color: #d3cfc3;
}

.switcher__label {
  display: flex;
  width: 52px;
  height: 28px;
}
