:root {
  --error: rgb(255, 0, 0);
  --trans: transform 0.5s linear;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
}
label {
  position: relative;
  width: max-content;
}

input {
  margin-left: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

.error {
  position: absolute;
  width: calc(100vw - 2rem);
  bottom: -1.5rem;
  left: 0;
  color: var(--error);
  transition: var(--trans);
}

.error.password {
  bottom: -1.5rem;
}

.error:empty {
  transform: translateX(calc(-100% - 10px));
}

.page__title {
  position: fixed;
  margin-top: 0;
  right: 1rem;
  top: 0.9rem;
  color: transparent;
  -webkit-text-stroke: 0.3px white;
}

@media screen and (max-width: 600px) {
  .page__title {
    position: static;
    text-align: right;
    color: currentColor;
  }
}
