:root {
  --error: rgb(255, 0, 0);
  --trans: transform 0.5s linear;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
}
label {
  position: relative;
}

input {
  margin-left: 1rem;
}

.error {
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  color: var(--error);
  transition: var(--trans);
}

.error:empty {
  transform: translateX(calc(-100% - 10px));
}
