#root {
  margin: 0 auto;
  padding: 2rem;
}

.section {
  margin: 2rem 0 0;
}
.list__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-error {
  background-color: red;
}

.card {
  padding: 2em;
}
